@import "./colours";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
    font-family: Raleway, sans-serif;
}


#calendar-header, #days-name-container {
    align-items: center;
    text-align: center;
    background: $header-color;
    color: #fff;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display:flex;
    padding-top: 0.6rem;
    .cell {
        background: $header-color;
        color: #fff;
        flex-wrap: wrap;
    }
    button{
        background: transparent;
        border: 0;
        outline:none;
        cursor: pointer;
        i{
            color: #fff;
        }
        i:hover{
            opacity: .7;
        }
    }
    button:nth-child(1){
        i{
            float: left;
            padding-left: 2rem;
        }
    }
    button:nth-child(3){
        i{
            float: right;
            padding-right: 2rem;
        }
    }
}

#calendar-header :is(button,span):nth-child(-n+3) {
    flex: 1 3 35%;
}

#days-container {
    border: #CCCCCC 1px solid;

    .cell_empty {
        width: calc(100% / 7);
        display: inline-block;
        text-align: center;
    }

    .cell {
        border: #CCCCCC 1px solid;
        cursor: pointer;
    }

    .cell:active:not(.cell_disabled) {
        color: white;
        background-color: #0e717f;
    }

    .cell:hover:not(.cell_disabled) {
        background-color: #eee;
    }

    .cell_disabled{
        background: #ddd;
        cursor: default;
    }
}

.cell {
    background: #fff;
    color: #000;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: calc(100% / 7);
}

